Repository anusarati/Diem: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, cargo-fmt, cargo-check, type-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-check:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched {staged_files} && git diff --exit-code --quiet {staged_files}
    cargo-fmt:
      glob: "rust/**/*.rs" 
      root: "rust/" 
      run: cargo fmt && git diff --exit-code --quiet .
    cargo-check:
      glob: "rust/**/*.rs"
      root: "rust/"
      run: cargo check
    type-check:
      glob: "*.{ts,tsx}"
      run: npx tsc --noEmit

complete past tasks in calendar
  src/app/components/ActivityActionMenu.tsx
  src/app/components/TimeBlock.tsx
  src/app/screens/ScheduleScreen.tsx
  src/features/timeline/components/TimeBlock.tsx
Due: biome-check, type-check

make recurrence work
  src/app/data/services/scheduleService.ts
  src/app/screens/ScheduleScreen.tsx
  test_dates.js
  test_db.js
  test_recurrence.mjs
Due: biome-check, type-check

rebuild models when import
  src/app/data/services/backupDataService.ts
  src/app/data/services/homeService.ts
Due: biome-check, type-check

generate scenario 1 data
  diem_backup_seed.json
  scripts/generate_seed_backup.mjs
Due: biome-check

Initial changes on ash branch: update dependencies, build script, and ICS import
  package-lock.json
  package.json
  patches/@nozbe+watermelondb+0.25.5.patch
  scripts/build-rust.sh
  src/app/data/icsImport.ts
Due: biome-check, type-check

fix: improved Week UI (zoom, simultaneous scroll)
  src/app/components/WeeklyView.tsx
  src/features/timeline/components/NowIndicator.tsx
Due: biome-check, type-check

add heatmap to import and improve solver weight
  rust/src/solver/fitness.rs
  src/app/data/services/backupDataService.ts
  src/app/screens/ScheduleScreen.tsx
  src/bridge/assembly/heuristic_injector.ts
  src/bridge/assembly/problem_builder.ts
Due: biome-check, cargo-fmt, cargo-check, type-check

feat: add scenario 2 generation script and test data
  diem_scenario_2.json
  scripts/generate_scenario_2.mjs
Due: biome-check

fix: make constraints saveable and priority show up in calendar editor
  src/app/components/TimeBlock.tsx
  src/app/data/services/homeService.ts
  src/app/data/services/scheduleService.ts
  src/app/screens/ManageActivities.tsx
  src/app/screens/ScheduleScreen.tsx
  src/data/repositories/ConstraintRepository.ts
Due: biome-check, type-check

fix(schedule): adjust getMonday to start of day and fix week view day picker index update
  src/app/components/WeeklyView.tsx
  src/app/screens/ScheduleScreen.tsx
Due: biome-check, type-check

constraint fields should be optional
  src/app/components/AdvancedConstraintsSheet.tsx
Due: biome-check, type-check

Fix scheduler bugs, update test scenario, and patch WatermelonDB for Android API 36 compatibility
  diem_scenario_2.json
  package-lock.json
  package.json
  patches/@nozbe+watermelondb+0.25.5.patch
  scripts/build-rust.sh
  src/app/screens/ScheduleScreen.tsx
Due: biome-check, type-check

solver improvements
  problem.json
  rust/Cargo.lock
  rust/Cargo.toml
  rust/examples/quick_solver_demo.rs
  rust/examples/solve_json.rs
  rust/src/solver/candidate_slots.rs
  rust/src/solver/fitness.rs
  rust/src/solver/mod.rs
  rust/src/solver/types.rs
  scripts/test_solver.ts
  src/app/screens/ScheduleScreen.tsx
  src/bridge/assembly/constraint_mapper.ts
  src/bridge/assembly/heuristic_injector.ts
  src/bridge/assembly/problem_builder.ts
  src/bridge/types/rust_problem.ts
Due: biome-check, cargo-fmt, cargo-check, type-check

keep current time red line and don't schedule before
  src/app/components/WeeklyView.tsx
  src/app/screens/ScheduleScreen.tsx
  src/features/timeline/components/NowIndicator.tsx
Due: biome-check, type-check

made variation json
  variation_diem_scenario_2.json
Due: biome-check
