Repository anusarati/Diem: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, cargo-fmt, cargo-check, type-check

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome-check:
      glob: "*.{js,ts,cjs,mjs,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched {staged_files} && git diff --exit-code --quiet {staged_files}
    cargo-fmt:
      glob: "rust/**/*.rs" 
      root: "rust/" 
      run: cargo fmt && git diff --exit-code --quiet .
    cargo-check:
      glob: "rust/**/*.rs"
      root: "rust/"
      run: cargo check
    type-check:
      glob: "*.{ts,tsx}"
      run: npx tsc --noEmit

Update .gitignore and unstrack node_modules
  .gitignore
Due: none

testing the gitignore
  RUN_INSTRUCTIONS.md
Due: none

chore(deps): add arktype and msgpackr
  package-lock.json
  package.json
Due: biome-check

fix(native): make solver result buffer ownership safe
  native-modules/diem-scheduler/cpp/DiemScheduler.cpp
  native-modules/diem-scheduler/cpp/diem_ffi.h
  native-modules/diem-scheduler/package.json
  rust/src/bridge/ffi.rs
  rust/src/bridge/memory.rs
Due: biome-check, cargo-fmt, cargo-check

feat(data): add scoped h-net and markov count storage
  src/data/migrations/index.ts
  src/data/models/ActivityHistory.ts
  src/data/models/HNetArcCount.ts
  src/data/models/HNetPairCount.ts
  src/data/models/MarkovTransitionCount.ts
  src/data/models/ScheduledEvent.ts
  src/data/models/UserBehavior.ts
  src/data/models/index.ts
  src/data/repositories/HeuristicNetArcRepository.ts
  src/data/repositories/HeuristicNetPairRepository.ts
  src/data/repositories/MarkovTransitionRepository.ts
  src/data/repositories/index.ts
  src/data/schema.ts
  src/types/domain.ts
Due: biome-check, type-check

feat(mining): add markov and scoped h-net miners
  src/mining/hnet/miner.ts
  src/mining/index.ts
  src/mining/processor/history_analyzer.ts
  src/mining/transition/miner.ts
  src/mining/types.ts
Due: biome-check, type-check

feat(bridge): build problem assembly and JSI scheduler pipeline
  src/bridge/assembly/bridge_data_source.ts
  src/bridge/assembly/constraint_mapper.ts
  src/bridge/assembly/heuristic_injector.ts
  src/bridge/assembly/id_registry.ts
  src/bridge/assembly/index.ts
  src/bridge/assembly/problem_builder.ts
  src/bridge/assembly/time_slots.ts
  src/bridge/index.ts
  src/bridge/jsi/index.ts
  src/bridge/jsi/native_scheduler.ts
  src/bridge/jsi/result_parser.ts
  src/bridge/serialization/index.ts
  src/bridge/serialization/rust_serializer.ts
  src/bridge/types/hnet_ir.ts
  src/bridge/types/index.ts
  src/bridge/types/rust_problem.ts
Due: biome-check, type-check

test(solver): cover bindings weekday masks and markov reward
  rust/src/solver/fitness.rs
Due: cargo-fmt, cargo-check

Fix WeeklyView drag and drop and prepare for history rewrite
  babel.config.js
  package-lock.json
  package.json
  src/app/components/TimelineCanvas.tsx
  src/app/components/WeeklyView.tsx
  src/app/screens/ScheduleScreen.tsx
  tsconfig.json
Due: biome-check, type-check

Auto-fixes from linter
  package.json
  src/app/components/TimelineCanvas.tsx
  src/app/components/WeeklyView.tsx
  src/app/screens/ScheduleScreen.tsx
  tsconfig.json
Due: biome-check, type-check

chore: remove babel.config.js r babel-preset-expo
  babel.config.cjs
  package-lock.json
  package.json
Due: biome-check

chore: tsconfig.json updates
  tsconfig.json
Due: biome-check

docs(app): README sample data and library usage
  src/app/README.md
Due: none

chore: package.json
  package.json
Due: biome-check

refactor(app): deprecate Petri types, causal net primary
  src/app/data/sampleData.ts
  src/app/types/analysis.ts
  src/app/types/index.ts
Due: biome-check, type-check

refactor(app): PetriNetView import from types/analysis
  src/app/components/CategoryHeatmap.tsx
  src/app/components/CausalNetView.tsx
  src/app/components/PetriNetView.tsx
  src/app/components/index.ts
  src/app/screens/AnalysisScreen.tsx
  src/app/screens/HomeScreen.tsx
Due: biome-check, type-check

style(app): AnalysisScreen copy line wrap
  src/app/screens/AnalysisScreen.tsx
Due: biome-check, type-check

fix: biome format and lint (App.tsx, app.json)
  App.tsx
  app.json
Due: biome-check, type-check

fix: homescreen date to show actual date
  src/app/screens/HomeScreen.tsx
Due: biome-check, type-check

feat(bridge,solver): split hard user frequency from learned soft targets
  rust/src/solver/fitness.rs
  rust/src/solver/types.rs
  src/bridge/assembly/constraint_mapper.ts
  src/bridge/assembly/heuristic_injector.ts
  src/bridge/assembly/problem_builder.ts
  src/bridge/types/rust_problem.ts
  src/types/domain.ts
Due: biome-check, cargo-fmt, cargo-check, type-check

feat(data): add EMA frequency state storage and bucketed history schema
  src/data/migrations/index.ts
  src/data/models/ActivityHistory.ts
  src/data/models/FrequencyEmaState.ts
  src/data/models/index.ts
  src/data/repositories/FrequencyEmaStateRepository.ts
  src/data/repositories/UserBehaviorRepository.ts
  src/data/repositories/index.ts
  src/data/schema.ts
Due: biome-check, type-check

feat(mining): add EMA frequency miner with ingest and reconcile flows
  src/mining/frequency/buckets.ts
  src/mining/frequency/ema_miner.ts
  src/mining/index.ts
  src/mining/processor/history_analyzer.ts
  src/mining/processor/history_write_service.ts
Due: biome-check, type-check

Solver demo
  package.json
  rust/Cargo.toml
  rust/README_demo.md
  rust/examples/quick_solver_demo.rs
Due: biome-check, cargo-fmt, cargo-check

Fix: Resolve Worklets version mismatch, wrap app with providers, and fix lint/TS errors
  ARCHITECTURE.md
  App.tsx
  COLOR_SYSTEM.md
  app.json
  babel.config.js
  package-lock.json
  package.json
  src/app/components/ActivityActionMenu.tsx
  src/app/components/ActivityBarRow.tsx
  src/app/components/AddActivitySheet.tsx
  src/app/components/BehaviorHeatmap.tsx
  src/app/components/Button.tsx
  src/app/components/GoalTimeRow.tsx
  src/app/components/IconButton.tsx
  src/app/components/PetriNetView.tsx
  src/app/components/ProgressCircle.tsx
  src/app/components/SegmentedControl.tsx
  src/app/components/TaskRow.tsx
  src/app/components/TimeBlock.tsx
  src/app/components/TimelineCanvas.tsx
  src/app/components/WeeklyView.tsx
  src/app/components/index.ts
  src/app/constants/routes.ts
  src/app/index.tsx
  src/app/navigation/AppNavigator.tsx
  src/app/screens/AnalysisScreen.tsx
  src/app/screens/HomeScreen.tsx
  src/app/screens/ScheduleScreen.tsx
  src/app/screens/SettingsScreen.tsx
  src/app/screens/index.ts
  src/app/theme/colors.ts
  src/app/theme/index.ts
  src/app/theme/spacing.ts
  src/app/utils/formatTime.ts
  src/features/timeline/TimelineCanvas.tsx
  src/features/timeline/components/DraggableTimeBlock.tsx
  src/features/timeline/components/NowIndicator.tsx
  src/features/timeline/components/TimeBlock.tsx
  src/features/timeline/hooks/useDragGesture.ts
  tsconfig.json
Due: biome-check, type-check

feat(types): add actualMinutesSpent to ScheduledActivity
  src/app/types/index.ts
Due: biome-check, type-check

feat(types): add completedMinutes and category to ActivityItem
  src/app/types/activity.ts
Due: biome-check, type-check

chore: update package-lock.json
  package-lock.json
Due: biome-check

chore: update package.json
  package.json
Due: biome-check

style: update theme colors
  src/app/theme/colors.ts
Due: biome-check, type-check

feat: update routes
  src/app/constants/routes.ts
Due: biome-check, type-check

feat: wire auth gate and app entry
  src/app/index.tsx
Due: biome-check, type-check

feat(data): add auth helpers
  src/app/data/auth.ts
Due: biome-check, type-check

feat(nav): add app navigator and bottom nav
  src/app/navigation/AppNavigator.tsx
Due: biome-check, type-check

feat(data): add storage for tasks and scheduled activities
  src/app/data/storage.ts
Due: biome-check, type-check

feat(data): add analytics and goal time from real data
  src/app/data/analyticsData.ts
Due: biome-check, type-check

feat(components): add LogTimeModal for logging time when marking done
  src/app/components/LogTimeModal.tsx
Due: biome-check, type-check

feat(components): add Dropdown
  src/app/components/Dropdown.tsx
Due: biome-check, type-check

feat(components): add EditTaskModal
  src/app/components/EditTaskModal.tsx
Due: biome-check, type-check

feat(components): add AddTaskModal
  src/app/components/AddTaskModal.tsx
Due: biome-check, type-check

feat(components): add BottomNav
  src/app/components/BottomNav.tsx
Due: biome-check, type-check
